.gradle/
build/
out/
classes/
run/
eclipse/
*.launch
.idea/
*.iml
*.ipr
*.iws
.settings/
.vscode/
bin/
.classpath
.project
.DS_Store
Thumbs.db
desktop.ini
*.log
crash-reports/
hs_err_pid*
replay_pid*
*.hprof
*.jfr
**/.gradle/
**/build/
**/run/
